---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.minimenu__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.minimenu__item {
  margin: 1px;
  width: 100%;
}

.icon {
  height: 1em;
  width: 1em;
}

.main__avatar {
  display: block;
  max-width: 110px;
  border-radius: 50%;
  margin: auto;
}

.page__taglist-item {
  text-decoration: none;
}
